body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* header */
.navbar {
  background-color: white;
  height: 4rem;
}
.fa-compass {
  font-size: 2rem;
  color: red;
}
.nav-link {
  font-size: 1.3rem;
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  padding-top: 0.5rem;
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400;
}
.listing-links {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.3;
  background-color: white;
}

/* new page */
.add-btn {
  background-color: red !important;
  border: none !important;
}

/* edit page */
.edit-btn {
  background-color: red !important;
  border: none !important;
  color: white !important;
}

/* show page */
.show-img {
  height: 40vh;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  width: 100vh;
}
